// ========================================
// HEADER 2 - VARIABLES
// ========================================
$header-mid-columns-mobile: 4;
$header-mid-columns-desktop: auto auto 1fr auto;
// ========================================
// HEADER 2 - MIXINS
// ========================================
@mixin __h3($breakpoint) {
    font-family: $font-family--heading;
    @if ($breakpoint == $screen-large) {
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        letter-spacing: -0.01em;
    }
    @if ($breakpoint == $screen-small) {
        font-family: $font-family--heading;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        text-transform: none;
    }
}
@mixin __h4($breakpoint) {
    font-family: $font-family--heading;
    @if($breakpoint == $screen-large) {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.01em;
    }
}
@mixin __h6($breakpoint) {
    font-family: $font-family--heading;
    @if($breakpoint == $screen-large) {
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
    }
}
// ========================================
// HEADER 2 - DEFAULT STYLING
// ========================================
.header-2__top {
    display: none !important;
}
.header-2__top-nav {
    // display: none;
    display: flex;
    justify-content: flex-end;
    background-color: #F8F8F8;
    @include breakpoint("medium") {
    }
}
.header-2__top-nav-list {
    list-style: none;
    display: none;
}
.header-2__mid {
    display: grid;
    grid-template-columns: repeat($header-mid-columns-mobile, auto);
    @media only screen and (min-width: 1024px) {
        position: relative;
        grid-template-columns: $header-mid-columns-desktop;
        grid-auto-columns: auto;
    }
    @include breakpoint("medium") {
    }
    @media all and (-ms-high-contrast:none) {
        grid-template-columns: repeat(5, auto);
        @for $i from 1 through 5 {
            &>*:nth-child(#{5}n + #{$i}) {
                grid-column: $i;
            }
        }
    }
}
.header-2__mid .mobileMenu-toggle {
    // position: static;
    position: relative;
}
.header-2__mid .navUser {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}
.header-2 .header-logo {
    margin: 0;
    width: auto;
    text-align: start;
}
.header-2 .navUser {
    position: static;
    transform: none;
}
.header-2 .navUser .navUser-section {
    display: flex;
    height: 100%;
}
.header-2 .navUser-item--account {
    position: relative;
}
.header-2 .navUser-item--search {
    display: block;

    @include breakpoint("medium") {
        display: none;
    }
}
.header-2 .navUser-item--cart__hidden-s {
    display: flex;
    align-items: center;
}
.header-2 .navPages-container .navPages {
    @include breakpoint("medium") {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: none;
    }

    @media only screen and (min-width: 1920px) {
        justify-content: center;
        
    }
}
.header-2__navPages-list--custom {
    @include breakpoint("medium") {
        display: none;
    }
}
.header-2__nav-search.dropdown.dropdown--quickSearch {
    @include breakpoint("medium") {
        position: static;
        display: flex;
        align-items: center;
    }
}
.header-2__nav-search {
    background: none;
    padding: 0;
    max-width: none;
    @include breakpoint("medium") {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
.header-2__nav-search .container {
    padding: 0;
}
.header-2__nav-search .form {
    @include breakpoint("medium") {
        max-width: none;
    }
}
.header-2__nav-search.is-open {
    @include breakpoint("medium") {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0 !important;
        bottom: 0 !important;
    }
}
.header-2__nav-search .quickSearchResults .modal-close {
    display: none;
    @include breakpoint("medium") {
        display: block;
    }
}
.header-2__nav-search.dropdown--quickSearch .productGrid {
    display: none;
    height: 58vw;
    overflow: scroll;
    margin: 0 auto;
    @include breakpoint("medium") {
        display: flex;
        flex-wrap: wrap;
        // grid-template-columns: repeat(3, 1fr);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include breakpoint('large') {
        // 1261px and up
        height: 45vh;
    }

    @include breakpoint('xlarge') {
        // 1441px and up
        height: 50vh;
    }
}
.quickSearchResults .productGrid .product {
    width: auto;
    // flex: 1 1 180px;
    flex: 0 1 100%;
    max-width: 400px;
    max-height: 500px;

    @include breakpoint('large') {
        // 1261px and up
        flex: 0 1 47%;
    }

    @media only screen and (min-width: 1920px) {
        flex: 1 1 22%;
    }

    @include breakpoint('xlarge') {
        // 1441px and up
        flex: 1 1 23%;
    }
}
.header-2__nav-search.dropdown--quickSearch .form-field {
    display: flex;
}
.header-2__nav-search.dropdown--quickSearch .form-field .form-input {
    background-color: #F8F8F8;
}
.header-2__nav-search.dropdown--quickSearch .form-field .form-input::placeholder {
    color: #000;
}
.header-2__nav-search.dropdown--quickSearch.is-open {
    top: 140px !important;

    @media only screen and (min-width: 335px) {
        top: 120px !important;
    }
    @include breakpoint('small') {
        // 551px and up
        top: 65px !important;
        width: 50% !important;
        margin: 0 auto;
    }

    @media only screen and (min-width: 634px) {
        top: 44px !important;
        
    }
}
.header-2--default .header-2__top-nav-list-item {
    padding: 1rem;
}
.header-2--default .header-2__mid .icon {
    height: 25px;
    width: 25px;
}
.header-2--default .header-2__mid-account-dropdown {
    min-width: 150px;
}
.header-2--default .header-2__mid-account-dropdown.dropdown-menu.is-open:before {
    left: unset;
    right: 10px;
}
.header-2--default .header-2__mid-account-dropdown.dropdown-menu.is-open:after {
    left: unset;
    right: 12px;
}
// cart pill
.countPill {
    @media only screen and (max-width: 1025px) {
        position: absolute;
        top: 4px;
        right: 6px;
    }
}
.header-2--default .header-2__nav-search .quickSearchResults {
    @include breakpoint("medium") {
        position: absolute;
        top: 40px;
        width: 160%;
        z-index: 100;

        @media only screen and (min-width: 1100px) {
            width: 100%;
        }
    }
}
.header-2--default .quickSearchResults {
    background: white;
}
.header-2--default .header-2__nav-search.dropdown--quickSearch.is-open {
    padding: 0.5rem;
}
// ========================================
// HEADER 2 - CUSTOM STYLING
// ========================================
#quickSearch .icon {
    position: relative;
    right: 35px;
    top: 10px;
}
.navPages-action:hover,
.navPages-action:active {
    text-decoration: none;
    color: #333;
}
.navPages-action.is-open {
    background-color: #F2F2F2;
}
.has-subMenu .navPages-action-moreIcon,
.collapsible-icon-wrapper .navPages-action-moreIcon
{
    transform: rotate(-90deg);
}
.has-subMenu.is-open .navPages-action-moreIcon, .collapsible-icon-wrapper.is-open .navPages-action-moreIcon {
    transform: rotate(deg);
}
@media only screen and (min-width: 1025px) {
    .header-logo {
        height: 100% !important;
    }
    .header-2__mid {
        border-top: 1px solid #E6E6E6;
        padding-left: 32px;
    }
    .header-2__mid--left {
        display: flex;
    }
    .store-contact__link {
        display: inline;
        margin: auto 0;
    }
    .store-contact__label {
        @include __h4($screen-large);
        color: $color-alt;
        display: inline;
    }
    .store-contact__label .icon.icon--phone {
        height: 18px;
        width: 18px;
        margin-right: 4px;
    }
    .store-contact__label
    svg {
        // height: 15px;
        // width: 15px;
        fill: $color-alt;
    }
    .store-contact__phone-number {
        @include __h4($screen-large);
        
        position: relative;
        margin: auto 0;
        &:hover {
            text-decoration: none;
            color: $color-secondary;
        }
    }
    .header-2__nav-search.dropdown.dropdown--quickSearch {
        align-items: unset !important;
        padding-top: 18px;
        padding-right: 24px;
    }
    
    .header-logo-image-container {
        min-height: unset !important;
    }

    .navUser-item.navUser-item--account,
    .navUser-item.navUser-item--cart {
        padding: 12px 12px 12px 0;
    }
    .navUser-item.navUser-item--account a {
        padding-left: 16px;
    }

    .navUser-item--account .navUser-action,
    .navUser-item--cart .navUser-action {
        text-decoration: none !important;
    }
    .navUser {
        border-left: 1px solid #E6E6E6;
    }

    .navPages .navPages-list.links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-height: 52px;
        max-height: 48px;
        overflow: hidden;
    }

    .navPages-list .navPages-item {
        @include breakpoint('medium') {
            // 801px and up
            height: 48px;
            display: inline-block;
            float: none;
        }
    }

    .navPages-list.links
    .navPages-item:first-of-type > a {
        padding: 16px 14px;
        &:hover {
            text-decoration: none;   
        }
        @media only screen and (min-width: 1300px) {
            padding: 16px 20px;
        }
    }

    .navPages-list.links
    .navPages-item > a {
        color: white;
        display: flex;
        justify-content: center;
        padding: 8px 9px;
        div {
            display: flex;
            justify-content: center;
        }
        span {
            margin: auto;
        }
        .icon.navPages-action-moreIcon {
            width: 14px;
            height: 8px;
            margin: auto 10px;
            svg {
                fill: white;
                stroke: none !important;
            }
        }

        &:hover {
            text-decoration: underline;
        }

        @include breakpoint('medium') {
            // 801px and up
            height: 100%;
        }

        @media only screen and (min-width: 1200px) {
            padding: 8px 10px;
            
        }

        @media only screen and (min-width: 1300px) {
            // padding: 8px 20px;
        }
    }
    .navPages-list.links
    .navPages-item:first-of-type {
        background-color: #ED1C24;
    }
    #navPages-navigaton-item--shop-all
    .navPage-subMenu-list  {
        display: flex;
        flex-direction: column;
    }
    .navPage-subMenu-list
    .navPage-subMenu-action.navPages-action {
        @include __h4($screen-large);
        text-decoration: none;
    }

    .navPage-subMenu-action.navPages-action:hover,
    .navPage-subMenu-action.navPages-action:hover .megaMenu-toggle svg0 {
        color: #fff;
    }
    .navPages-item:hover 
    .navPages-action--toplevel.has-subMenu + .navPage-subMenu {
        max-width: 97rem;
        margin: 0 auto;
        width: auto;
        left: unset;
    }
    .navPages-action.has-subMenu.no-megaMenu {
        span.icon {
            display: none;
        }
    }
    .navPages .navPage-subMenu-list {
        max-width: unset !important;
        display: flex;
        font-weight: 600;
        flex-direction: column;
        width: auto !important;
        // padding-right: 1.5rem;
        padding-right: 0;
        min-width: 390px;
    }
    .navPage-subMenu-item {
        display: flex;
        flex-direction: row;
        // border-bottom: 1px solid #cccccc;
        margin-bottom: 1.14286rem;
        margin: 4px 0;
        width: 100% !important;
        border-bottom: 0;
        // padding: 0 2rem !important;
        padding: 0!important;
        position: relative;


        a:first-of-type {
            border-bottom: none !important;
            margin-bottom: 0 !important;
        }
        a:last-of-type {
            margin: auto 0;
            justify-content: center;
            vertical-align: middle;
        }

        &:hover {
            background-color: #1A2240;
        }

    }
    .navPage-subMenu-item:hover .megaMenu-toggle svg,
    .navPage-subMenu-item:hover .navPage-subMenu-action {
        fill: #fff;
        color: #fff;
    }
    .navPage-subMenu-action {
        padding: 12px 0;
        // margin: 8px 0;
    }
    .navPage-subMenu-action span:first-of-type {
        // border: 2px solid blue;
        padding-left: 2rem;
    }
    .navPages {
        justify-content: center;
        max-width: 97rem;
    }
    .navPages-container {
        background-color: #1A2240;
        display: flex;

        @include breakpoint('medium') {
            // 801px and up
            white-space: nowrap;
        }
    }
    .navPage-subMenu {
        padding: 0 0 2.2rem 0 !important;
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    }
    .navPage-subMenu-list {
        padding-top: 1.5rem !important;
    }
    .navPages-item > a.navPages-action {
        @include __h6($screen-large);
        font-weight: 600;
        height: 48px;
        font-size: 12px;

        @media only screen and (min-width: 1300px) {
            font-weight: 600;
            height: auto;
            font-size: 13px;
        }
    }
    .navPages-item.no-megaMenu {
        ::after {
            @media only screen and (min-width: 1300px) {
                content: "";
                height: 32px;
                width: 1px;
                position: relative;
                left: 10px;
                z-index: -1;
            }
        }
    }
    .navPages-item.no-megaMenu:not(:last-of-type) {
        ::after {
            background-color: #2D3C73;
        }
    }
    .navUser-item.navUser-item--cart {
        padding-left: 10px;
    }
    .navUser-item--cart .dropdown-menu.is-open {
        top: 75px !important;
        min-width: 320px !important;
    }
    .navPage-megaMenu-list {
        position: absolute;
        width: max-content;
        height: 100%;
        left: 100%;
        background-color: white;
        box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
        // padding-top: 1.5rem !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
        background-color: #F9F9F9;
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.1));

        @include breakpoint('medium') {
            // 801px and up
            display: none;
        }

        @include breakpoint('large') {
            // 1261px and up
            padding-left: 50px !important;
        padding-right: 50px !important;
        }
    }
    .navPage-megaMenu-list.is-open {
        display: block;
        width: calc(100vw - 410px);
        overflow: scroll;
        @include breakpoint('large') {
            // 1261px and up
            // width: max-content;
            width: calc(90vw - 410px);
        }

        @include breakpoint('xlarge') {
            // 1441px and up
            width: max-content;
            max-width: 880px;
            // width: calc(70vw - 410px);

            
        }
    }
    .navPage-megaMenu {
        display: none;
        padding: 1.75rem 1.5rem 2.28571rem 0 !important;
        width: 100%;
        background-color: #F9F9F9;
    }
    .navPage-megaMenu.is-open {
        display: list-item;
        // max-width: 550px;
    }
    .navPage-megaMenu__heading {
        @include __h3($screen-large);
        color: #1A2240;
        text-transform: uppercase;
    }
    .megaMenu-toggle.icon {
        transform: rotate(-90deg) translateX(50%);
        position: absolute;
        right: 6%;
        top: 50%;
        
    }
    .navPage-megaMenu__content {
        display: flex;
        flex-wrap: wrap;
        // grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        margin-top: 25px;
        @include breakpoint('large') {
            // 1261px and up
            max-width: none;
            grid-gap: 25px;
        }

        @include breakpoint('xlarge') {
            // 1441px and up
        grid-gap: 35px;
        }
    }

    .navPage-megaMenu__column {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.25rem;
        max-width: remCalc(160px);
    }

    .navPage-megaMenu__image {
        max-width: 160px;
        margin: 0 auto 0 0;
        height: 160px;
        width: 160px;
        object-fit: contain;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .38);
    }

    .navPage-megaMenu__column-link {
        @include __h4($screen-large);
        font-size: 16px;
        display: flex;
        flex-direction: column;
        color: #1A2240;
        text-transform: uppercase;
    }

    .navPage-megaMenu__column-link span {
        margin-top: 12px;
        margin-bottom: 8px;
        white-space: normal;        
    }

    .navPage-megaMenu__column ul {
        width: 100%;
        text-align: left;
        white-space: initial;
    }

    .top-navigation__store-contact {
        display: flex;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .header-logo-image-container {
        display: flex;
        padding: 12px 0;
    }

    .navUser-item.navUser-item--account {
        height: 100%;
        background: white;
    }

    .navUser-item.navUser-item--cart
    .icon svg  {
        outline: none !important;
        fill: white !important;
    }

    .navUser-action {
        @include __h6($screen-large);
        color: $color-alt;
        // margin-left: 8px;
        .icon.icon--chevron-down {
            width: 14px;
            height: 8px;
        }
        .icon.icon--chevron-down svg {
            fill: $color-primary !important;
            stroke: none !important;
        }
    }

    .navPage-subMenu-list 
    .navPage-subMenu-action.navPages-action {
        > .icon svg {
            display: none;
        }
    }

    .navPages-item:hover 
    .navPages-action--toplevel.has-subMenu + .navPage-subMenu {
        display: flex !important;
        flex-direction: row;
    }

    .navUser-action svg {
        stroke:  none !important;
    }

    .navUser-item.navUser-item--cart {
        padding-right: 32px !important;
    }

    .header-2__mid .navUser .navUser-section.navUser-section--alt {
        display: grid !important;
        grid-template-columns: auto 1fr auto auto;
    }
    .navUser-item.navUser-item--cart {
        background-color: $color-primary;
        .navUser--label  {
            color: white;
            margin-left: 8px;
        }
    }
    .megaMenus .megaMenu {
        height: 100%;
    }
}
@media only screen and (max-width: 1501px) {
    .store-contact__link
    .store-contact__label
    span:last-of-type {
        display: none;
    }
}
@media only screen and (max-width: 1025px) {
    .header.header-2.header-2--default {
        box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.1);
    }
    .navPages-list.navPages-list-depth-max.links {
        box-shadow: inset 3px 3px 16px rgba(0, 0, 0, 0.1);
    }
    .mobileMenu-toggle.is-open .mobileMenu-toggleIcon {
        background: transparent !important;
    }
    .mobileMenu-toggle .mobileMenu-toggleIcon, .mobileMenu-toggle .mobileMenu-toggleIcon::before, .mobileMenu-toggle .mobileMenu-toggleIcon::after {
        background: $color-primary !important;
        height: 3px;
    }
    .header-logo .header-logo__link {
        width: 100%;
        height: 100%;
        .header-logo-image-container {
            width: 100%;
            // height: 100%;
            margin: auto;
        }
        .header-logo-image {
            margin: auto;
            width: auto;
            height: auto;
            max-height: unset;
        }
    }
    .top-navigation__store-contact {
        display: none;
    }
    .megaMenu-toggle {
        display: none;
    }
    .navPages {
        padding: 0;
    }
    #navPages-navigaton-item--shop-all,
    .navPages-item__shop-all {
        display: none;
        @include breakpoint('medium') {
            // 801px and up
            display: inline-block;
        }
    }
    .navPage-subMenu-item {
        padding: 0;
    }
    .navPages-action.has-subMenu.no-megaMenu .navPages-action__wrapper {
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        // padding-bottom: 4px;
        // border-bottom: 1px solid #D3D3D3;
        > span:first-of-type {
            @include __h3($screen-small);
            text-transform: none;
            margin: auto 0;
            width: 100%;
        }
        @include breakpoint('medium') {
            // 801px and up
            border: 0;
            margin: 0;
            padding-bottom: 0;
        }
    }
    
    .navPages .navPage-subMenu-list {
        margin-right: 0;
        margin-top: 0;
    }
    .navPages-list.header-2__navPages-list--custom {
        margin-top: 0;
        padding-top: 0;
    }
    .navPages-list.header-2__navPages-list--custom,
    .navPages-list.navPages-list--user {
        border: none;
    }
    // .navPages-action__wrapper,
    // .navPage-subMenu-action__wrapper,
    // .navPage-childList-action__wrapper {
    //     padding-top: 8px;
    //     padding-bottom: 8px;
    // }
    .navPage-subMenu-action.navPages-action.no-megaMenu .navPage-subMenu-action__wrapper {
        display: flex;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        // padding-bottom: 18px;
        // border-bottom: 1px solid #989898;
        > span:first-of-type {
            @include __h3($screen-small);
            margin: auto 0;
            width: 100%;
        }
        > span.collapsible-icon-wrapper {
            margin: auto 0 !important;
            width: auto;
        }
    }
    .navPage-subMenu-action:not(.navPages-action-depth-max) + .navPage-childList {
        margin-left: 0;
        border-left: none;
        padding-left: 0;
    }
    .navPages-action.has-subMenu.no-megaMenu {
        margin-left: 0;
        margin-right: 0;
    }
    .navPages-item.no-megaMenu {
        position: relative;
    }
    .navPage-subMenu.is-open
    .navPage-subMenu-list
    li:first-of-type div {
        padding-top: 0px;
    }
    .navPage-subMenu-action.navPages-action.no-megaMenu {
        // margin-left: 1.5rem;
        // margin-right: 1.5rem;
        background: #F2F2F2;
        // border-bottom: 1px solid #989898;
    }
    .navPage-subMenu.is-open 
    .navPage-subMenu-list
    li:last-of-type div {
        border-bottom: none;
        padding-bottom: 12px;
    }
    // .navPage-childList {
    //     margin: 0;
    //     background: #F2F2F2;
    // }
    .navPage-childList {
        background: #F2F2F2;
    }
    .navPage-childList.is-open {
        margin: 0;
        padding-top: 9px;
        // li:last-of-type div {
        //     border-bottom: 1px solid #989898;
        // }
    }
    .navPage-childList
    .navPage-childList-item
    .navPage-childList-action__wrapper {
        @include __h3($screen-small);
        margin-top: 9px;
        margin-bottom: 9px;
        margin-left: 2.5rem;
        margin-right: 1.5rem;
    }
    .child-open {
        border-top: 1px solid #989898;
        padding-top: 18px;
    }
    .navPages-action.has-subMenu.no-megaMenu.is-open div {
        border-bottom: none;
    }
    .navPages-list.navPages-list--user {
        padding-left: 1.5rem;
        margin-top: 0;
        padding-top: 0;
        .navPages-item .navPages-action {
            @include __h3($screen-small);
        }
        .navPages-item {
            @include __h3($screen-small);
            font-size: 16px !important;
            line-height: 19px !important;
        }
    }
    .mobileMenu-toggle {
        border-right:  1px solid #EDEDED;
    }
    .navUser-item.navUser-item--search {
        width: 60px;
        border-left:  1px solid #EDEDED;
    }
    .navUser-item.navUser-item--cart {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        width: 60px;
        .navUser--label {
            display: none;
            @media only screen and (min-width: 1025px) {
                display: inline-block;
            }
        }
        .icon.icon--cart svg {
            fill: white;
            stroke: none;
        }

        @media only screen and (min-width: 1024px) {
            width: auto;
        }
    }
    .header-2__mid {
        display: grid;
        grid-template-columns: repeat(3, auto);

        @media only screen and (min-width: 1024px) {
            grid-auto-columns: auto;
            grid-template-columns: auto auto 1fr auto;
        }
    }
}
.mega-menu-sub-item a {
    visibility: visible;
    font-size: 14px;
}

.mega-menu-shop-all span {
    font-size: 14px;
    font-weight: 700;
    white-space: initial;
}

.dropdown--quickSearch .form-input {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNNTA4LjUgNDY4LjlMMzg3LjEgMzQ3LjVjLTIuMy0yLjMtNS4zLTMuNS04LjUtMy41aC0xMy4yYzMxLjUtMzYuNSA1MC42LTg0IDUwLjYtMTM2QzQxNiA5My4xIDMyMi45IDAgMjA4IDBTMCA5My4xIDAgMjA4czkzLjEgMjA4IDIwOCAyMDhjNTIgMCA5OS41LTE5LjEgMTM2LTUwLjZ2MTMuMmMwIDMuMiAxLjMgNi4yIDMuNSA4LjVsMTIxLjQgMTIxLjRjNC43IDQuNyAxMi4zIDQuNyAxNyAwbDIyLjYtMjIuNmM0LjctNC43IDQuNy0xMi4zIDAtMTd6TTIwOCAzNjhjLTg4LjQgMC0xNjAtNzEuNi0xNjAtMTYwUzExOS42IDQ4IDIwOCA0OHMxNjAgNzEuNiAxNjAgMTYwLTcxLjYgMTYwLTE2MCAxNjB6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position-x: 99%;
    background-position-y: center;
    font-size: 14px;
}

.header-2__nav-search .icon.icon--search {
    display: none;
}

// PREVIEW CART
.previewCartAction-checkout .button.button--small {
    color: #ffffff;
}

// nag bar
.header-2__top-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-2__top-nav-message {
    margin: 0;
    padding: 12px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.navPages-item__shop-all > a > span {
    font-size: 12px;

    @media only screen and (min-width: 1300px) {
    font-size: 16px;
        
    }
}

.header {
    height: auto;
}

.navUser-item.navUser-item--cart {
    position: relative !important;
}

.navPages-container.is-open {
    padding-top: 142px;
    @media only screen and (min-width: 334px) {
        padding-top: 55px;
    }
    @media only screen and (min-width: 633px) {
        padding-top: 55px;
    }
}

// reset
.navPages-action.has-subMenu.no-megaMenu .navPages-action__wrapper > span:first-of-type {
    @include breakpoint('medium') {
        // 801px and up
        font-size: 12px;
    }
}

.top-navigation__store-contact {
    @include breakpoint('medium') {
        // 801px and up
        display: flex;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
