<section class="cta-2 cta-2--default hero-video-section" aria-label="{{lang 'custom.home.hero-video.image-alt-text'}}">
<!-- <section class="cta-2 cta-2--default hero-video-section"> -->
        <video class="hero-video-section-video" width="100%" height="auto" preload="auto" poster="{{cdn (lang 'custom.home.hero-video.image')}}" autoplay muted playsinline loop>
                <source src="{{cdn (lang 'custom.home.hero-video.video')}}" type="video/mp4"/>
        </video>
    <div class="cta-2__content-container">
        <article class="cta-2__text-container cta-2__content">
            <h3 class="cta-2__title h1">{{lang 'custom.home.hero-video.title'}}</h3>
            <h5 class="cta-2__sub-title">{{lang 'custom.home.hero-video.sub-title'}}</h5>
            <a href="{{lang 'custom.home.hero-video.button-link'}}" class="button button--primary">{{lang 'custom.home.hero-video.button-text'}}</a>
        </article>
    </div>
</section>
