<h2 class="page-heading h1">{{{lang 'custom.home.custom-printed-cta.page-heading'}}}</h2>
<section class="cta-2 cta-2--default custom-printed-cta" style="background-image: url({{lang 'custom.home.custom-printed-cta.image'}});">
    <div class="cta-2__content-container">
        <article class="cta-2__text-container cta-2__content">
            <h3 class="cta-2__title h1">{{lang 'custom.home.custom-printed-cta.title'}}</h3>
            <a href="{{lang 'custom.home.custom-printed-cta.button-link'}}" class="button button--primary">{{lang 'custom.home.custom-printed-cta.button-text'}}</a>
        </article>
    </div>
</section>
