<section class="overlap-cta">
    <figure class="overlap-cta__image-container">
        <img class="overlap-cta__image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{lang 'custom.home.overlap-cta.image'}}" alt="{{lang 'custom.home.overlap-cta.image-alt-text'}}">
    </figure>
    <atricle class="overlap-cta__content">
        <h2 class="overlap-cta__title h1">{{lang 'custom.home.overlap-cta.title'}}</h2>
        <h3 class="overlap-cta__sub-title h4">{{lang 'custom.home.overlap-cta.sub-title'}}</h3>
        <p class="overlap-cta__description">{{{lang 'custom.home.overlap-cta.description'}}}</p>
        <a href="{{lang 'custom.home.overlap-cta.button-link'}}" class="button button--primary">{{lang 'custom.home.overlap-cta.button-text'}}</a>
    </atricle>
</section>
