<section class="pdp-cta-section">
    <h4 class="pdp-cta-heading">The POP-Bazooka Volleyball System</h4>
    <img src="https://www.volleyballusa.com/content/img/pdp/pdp-description-images/volleyball-full-width.png" src="img/loading.svg" class="pdp-cta__image lazyload" alt="Nets">
    <div class="pdp-cta-content-wrapper">
        <span class="pdp-cta__counter-container">
            <span class="pdp-cta__counter h2">1</span>
        </span>
        <h3 class="pdp-cta__title">Header 1 Here on Single Line</h3>
        <p class="pdp-cta__description">The Volleyball Poles of choice for many collegiate volleyball programs in the United States. This system can be adjusted easily for any net height, making it also ideal for spaces setting up for multiple net sports (volleyball, badminton, tennis, etc.)</p>
        <ul>
            <li>(2) 3.5 inch O.D. ultra stiff posts.</li>
            <li>Choose between heavy-wall, 12' anodized aluminum or 10-1/2' to 12' galvanized steel poles. (Either pole can be ordered in longer lengths if preferred)</li>
            <li>High strength single unit hardware with stainless steel set screws and nuts.</li>
            <li>Available with a manual powder coated or a completely stainless steel winch. Also available with a Stainless Steel 2-Gear or Worm Gear winch both with collapsible handles</li>
            <li>Single point adjustment, no ladder or chair needed.</li>
            <li>Perfect for sand courts and prolonged outdoor use.</li>
            <li>Top and bottom internal drive caps for poles.</li>
            <li>Lockable winches to prevent vandalism and theft.</li>
            <li>Available for side by side systems.</li>
            <li>If purchasing sleeves, poles will ship at 8' 6" to account for sleeve length</li>
            <li>If direct burying into concrete (no sleeves), poles will ship at 12' long</li>
        </ul>
        
        <a href="##" class="pdp-template-link p">
            <span class="icon icon--download">
                <svg><use xlink:href="#icon-download"></use></svg>
            </span>
            Installation Instructions</a>
        <p class="bold">Sleeve Option:</p>
        <ul>
            <li><span class="underline">POP Anodized Aluminum Pole Sleeve</span> - Set of 2 ground sleeves made for each pole, suggested for use outdoors for sand, grass or concrete.</li>
        </ul>
    
        <p class="bold">Net Options:</p>
        <ul>
            <li><span class="underline">PBN4</span> - 4" Net Tapes made of 22 oz vinyl, ash dowels on both ends of the net.</li>
            <li><span class="underline">ML4</span> - 4" Net tapes made of 13 oz vinyl with dowels built into the side of the net.</li>
        </ul>
    
        <p class="bold">Boundary Line Options:</p>
        <ul>
            <li><span class="underline">2" Pro Adjustable Boundary Lines</span> - Our most popular webbing material boundary lines allow you to adjust between traditional and short court playing sizes. Has stainless steel corner rings for prolonged outdoor use and injury prevention. (30' x 60' court size lowers down to 26' x 52' court sizes).</li>
            <li><span class="underline">2" Fixed Short Court Boundary Lines</span> - Designed for 2 vs 2 doubles volleyball court size. Webbing constructed lines that are also great for those playing in smaller backyards. (8m x 16m / 26'3" x 52'6").</li>
            <li><span class="underline">2" Premium Adjustable Boundary Lines</span> - Adjustable boundary lines constructed of vinyl material (same as net tapes), increasing durability and longevity. (30' x 60' court size lowers down to 26' x 52' court sizes).</li>
        </ul>
    
        <p class="bold">Antenna Options:</p>
        <ul>
            <li><span class="underline">1-Piece Antenna Set</span> - 6' fiberglass antenna with velcro attaching sleeves (attaches to 35" (H) and 39" (H) nets)</li>
            <li><span class="underline">2-Piece Antenna Set</span> - Each antenna is divided into two 3' pieces which connect to form an antenna. Easier to store than the 1-Piece Antenna.(attaches to 35" (H) and 39" (H) nets.</li>
        </ul>
    
        <p class="bold">Padding Options:</p>
        <ul>
            <li><span class="underline">VBSP - 2" Standard Pad</span> - Wrap around style padding constructed of 2" of polyfoam and 18 oz vinyl.</li>
            <li><span class="underline">2" Professional Pole Pad</span> - Padding with pre-formed corners that forms a square uniformed shape around volleyball poles.</li>
            <li><span class="underline">Custom Printing</span> - Submit your logos/artwork requests to be printed onto the padding.</li>
        </ul>
    </div>
</section>
