<section class="toggle videoGallery" data-video-gallery>
    <h2 class="page-heading page-heading--product-video">Product Video</h2>
    <div class="toggle-content is-open" id="videoGallery-content">
        <div class="videoGallery-main">
            <iframe
                id="player"
                class="lazyload"
                type="text/html"
                width="640"
                height="390"
                frameborder="0"
                webkitAllowFullScreen
                mozallowfullscreen
                allowFullScreen
                data-src="//www.youtube.com/embed/{{this.featured.id}}?rel=0"
                data-video-player>
            </iframe>
        </div>
    </div>

</section>
